absl-py==1.0.0
aiohttp==3.8.4
aiosignal==1.3.1
allennlp==2.10.1
altair==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
apify_client==1.6.4
apify_shared==1.1.1
appdirs==1.4.4
applaunchservices==0.2.1
argcomplete==1.10.3
argh==0.26.2
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==22.2.0
audioread==2.1.9
aws==0.2.5
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
base58==2.1.1
bcrypt==4.1.1
beautifulsoup4==4.12.3
bkcharts==0.2
black==19.10b0
blinker==1.7.0
blis==0.7.9
boto==2.49.0
boto3==1.26.70
botocore==1.29.70
Bottleneck==1.3.2
branca==0.7.0
brotlipy==0.7.0
build==1.1.1
cached-path==1.1.6
cachetools==5.3.0
catalogue==2.0.8
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
clikit==0.6.2
cmdstanpy==1.2.0
coloredlogs==15.0.1
colour==0.1.5
colourmap==1.1.10
commonmark==0.9.1
compressed-rtf==1.0.6
conda==22.9.0
conda-build==3.24.0
conda-repo-cli==1.0.5
conda-verify==3.4.2
contextlib2==0.6.0.post1
convertdate==2.4.0
crashtest==0.3.1
cryptography==42.0.5
cycler==0.10.0
cymem==2.0.7
cytoolz==0.11.0
databricks-cli==0.18.0
dataclasses-json==0.5.7
dataclasses-json-speakeasy==0.5.11
DBUtils==3.0.3
distro==1.9.0
dnspython==2.4.2
docker-pycreds==0.4.0
docx2txt==0.8
dtreeviz==1.4.0
ebcdic==1.1.1
effdet==0.4.1
emoji==2.10.1
entrypoints==0.3
ephem==4.1.5
et-xmlfile==1.0.1
exceptiongroup==1.1.0
extract-msg==0.28.7
fabric==3.2.2
fairscale==0.4.6
faiss-cpu==1.7.4
fastapi==0.98.0
fastapi-sessions==0.3.2
fastcache==1.1.0
fasttext==0.9.2
feedparser==6.0.10
filelock==3.13.1
filetype==1.2.0
Flask==3.0.2
Flask-Cors==4.0.0
flatbuffers==2.0
folium==0.15.0
frozenlist==1.3.3
fsspec==2023.12.2
fst-pso==1.8.1
future==0.18.2
FuzzyTM==2.0.5
gast==0.4.0
gensim==4.3.0
geographiclib==2.0
geojson==3.1.0
geopy==2.4.0
glue-vispy-viewers==1.0.5
gmpy2==2.0.8
google-api-core==2.11.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
gptcache==0.1.10
graphlib_backport==1.1.0
graphviz==0.20.1
greenlet==1.1.0
grpcio==1.62.0
h11==0.14.0
h5py==3.8.0
HeapDict==1.0.1
holidays==0.37
html2text==2024.2.26
httpcore==1.0.2
httpstan==4.10.1
httptools==0.6.1
httpx==0.26.0
huggingface-hub==0.21.3
humanfriendly==10.0
idna==3.4
IMAPClient==2.1.0
imgkit==1.2.2
importlib-metadata==6.11.0
importlib-resources==6.1.1
invoke==2.2.0
iopath==0.1.10
iso8601==2.1.0
itsdangerous==2.1.2
jdcal==1.4.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.2.0
json5==0.9.5
jsonnet==0.19.1
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jupyter==1.0.0
keras==2.11.0
Keras-Preprocessing==1.1.2
kubernetes==29.0.0
langchain==0.0.239
langchain-community==0.0.25
langchain-core==0.1.28
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.11
layoutparser==0.3.4
libclang==15.0.6.1
librosa==0.8.1
lime==0.2.0.1
llama-index==0.6.24
llvmlite==0.36.0
lmdb==1.4.0
locket==0.2.1
loguru==0.7.2
LunarCalendar==0.0.9
lxml==4.9.4
Markdown==3.3.6
MarkupSafe==2.1.5
marshmallow==3.19.0
marshmallow-enum==1.5.1
mccabe==0.6.1
miniful==0.0.6
mkl-fft==1.3.0
mkl-service==2.3.0
mmh3==4.1.0
monotonic==1.6
more-itertools==9.0.0
multidict==6.0.4
multipledispatch==0.6.0
murmurhash==1.0.9
mypy-extensions==1.0.0
navigator-updater==0.2.1
nltk==3.8.1
numexpr==2.8.6
numpy==1.24.2
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
openai==0.27.1
openapi-schema-pydantic==1.2.4
opencv-python==4.9.0.80
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
opt-einsum==3.3.0
orjson==3.9.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.0.0
pathspec==0.7.0
pathtools==0.1.2
pathy==0.10.1
patsy==0.5.3
pca==1.8.3
pdf2image==1.17.0
pdfminer.six==20221105
pdfplumber==0.10.4
pep8==1.7.1
pikepdf==8.13.0
pillow==10.2.0
pinecone-client==2.2.2
pkginfo==1.7.0
platformdirs==4.0.0
playwright==1.42.0
ply==3.11
pooch==1.5.1
portalocker==2.8.2
posthog==3.5.0
preshed==3.0.8
prettytable==3.9.0
progressbar2==4.2.0
promise==2.3
prophet==1.1.5
protobuf==3.20.3
pulsar-client==3.4.0
pyarrow==15.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pybind11==2.10.3
pycocotools==2.0.7
pycosat==0.6.3
pycryptodome==3.20.0
pycurl==7.43.0.6
pydantic==1.10.13
pydantic_core==2.14.6
pydeck==0.8.1b0
pyFUME==0.2.25
pygam==0.9.0
pylev==1.4.0
PyMeeus==0.5.12
PyNaCl==1.5.0
pyodbc===4.0.0-unsupported
PyOpenGL==3.1.1a1
pypdf==4.0.2
pypdfium2==4.27.0
PyPika==0.48.9
pyproj==3.5.0
pyproject_hooks==1.0.0
pysimdjson==5.0.2
pystan==3.7.0
pytesseract==0.3.10
pytest==7.2.1
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2024.2.7
python-magic==0.4.27
python-magic-bin==0.4.14
python-multipart==0.0.9
python-pptx==0.6.23
python-utils==3.5.2
pytz==2023.3
PyYAML==6.0
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
rapidfuzz==3.6.1
reader==3.3
regex==2023.3.23
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.2.2
rich==12.6.0
rsa==4.9
s3transfer==0.6.0
sacremoses==0.0.53
safetensors==0.4.2
scatterd==1.2.0
scikit-image==0.18.1
scikit-learn==1.2.1
scipy==1.10.1
selenium==4.18.1
sentencepiece==0.1.97
sentry-sdk==1.15.0
setproctitle==1.3.2
sgmllib3k==1.0.0
shap==0.41.0
shortuuid==1.0.11
simpful==2.9.0
simplegeneric==0.8.1
six==1.16.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.1
spacy==3.3.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.24
srsly==2.4.5
stanio==0.3.0
starlette==0.27.0
statsmodels==0.14.0
streamlit==1.31.0
streamlit-feedback==0.1.3
tables==3.6.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.6
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==2.2.0
terminado==0.9.4
textract==1.6.5
tifffile==2020.10.1
tiktoken==0.3.3
timm==0.9.16
tokenizers==0.15.2
torchvision==0.13.1
tqdm==4.65.0
traitlets==5.9.0
transformers==4.38.2
trio==0.24.0
trio-websocket==0.11.1
typer==0.9.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.2
unicodecsv==0.14.1
unstructured==0.11.8
unstructured-client==0.17.0
unstructured-inference==0.7.18
unstructured.pytesseract==0.3.12
urllib3==2.2.0
uvicorn==0.22.0
uvloop==0.19.0
validators==0.22.0
virtualenv==20.24.7
wandb==0.12.21
wasabi==0.10.1
watchfiles==0.21.0
webargs==8.3.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
wget==3.2
widgetsnbextension==3.5.1
word2number==1.1
wsproto==1.2.0
xgboost==1.7.1
xlrd==1.2.0
xlwings==0.23.0
xlwt==1.3.0
yarl==1.8.2
zict==2.0.0
zope.event==4.5.0
